@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/calendaritem/{id:guid}"

<EditForm Model="_validationModel" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="d-flex flex-column align-items-center">
        <ValidationSummary />
    </div>
    <div>
        <div class="row g-3 mb-3">
            <div class="col-sm">
                <input class="form-control" type="text" id="calendar-item-title" placeholder="Title" aria-label="Title" @bind="_validationModel.Title" />
            </div>
            <div class="col-sm">
                <input class="form-control" type="text" id="calendar-item-description" placeholder="Description" aria-label="Description" @bind="_validationModel.Description" />
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-sm">
                <NoDaTimeDatePicker Class="form-control" @bind-LocalDate="_validationModel.StartDate" />
            </div>
            <div class="col-sm">
                <NoDaTimeDatePicker Class="form-control" @bind-LocalDate="_validationModel.EndDate" />
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-sm">
                <NoDaTimeTimePicker Class="form-control" @bind-LocalTime="_validationModel.StartTime" />
            </div>
            <div class="col-sm">
                <NoDaTimeTimePicker Class="form-control" @bind-LocalTime="_validationModel.EndTime" />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Ok</button>
        <button class="btn btn-danger" @onclick="DeleteItem">Delete</button>
        <button class="btn btn-secondary" @onclick="ModalInstance.CancelAsync">Cancel</button>
    </div>
</EditForm>