@inject GrpcHelloService HelloGrpcService
@using Tomi.Calendar.Proto
@using Microsoft.Extensions.Logging
@page "/hellogrpc"

<h3>HelloGrpc</h3>

<input type="text" @bind-value="_name" />
<input type="button" @onclick="GetHelloReply" />

<div>@_helloReply</div>

@code {
    private string _helloReply { get; set; }
    private string _name { get; set; }

    [Inject]
    ILogger<HelloGrpc> Logger { get; set; }

    public async Task GetHelloReply()
    {
        _helloReply = await HelloGrpcService.GetHelloReply(_name);
        Logger.LogInformation(_helloReply);
        StateHasChanged();
    }
}
