@if (this.Note != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Note.CreateDate - @Note.Title</h5>
            <p class="card-text">@((MarkupString)Note.Content)</p>
        </div>
    </div>
}
