@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Note List</h3>

<ol>
    @if (CalendarState.Value.Notes != null)
    {
        @foreach (var note in CalendarState.Value.Notes.OrderByDescending(n => n.CreateDate))
        {
            <li @onclick="@(async() => await ShowEditItem(note.Id))">@note.Title - @note.CreateDate</li>
        }
    }
</ol>