@inherits CalendarComponentBase

@foreach (DateTime date in CalendarHelpers.CalendarDaysInView(StartDate, EndDate))
{
    @CalendarDay(date)
    @if (date.AddDays(1).DayOfWeek == StartDayOfWeek)
    {
        <div style="clear:both"></div>
    }
}
