<heading>
    @Heading
</heading>
<div class="calendar-view-items" @onmousewheel="WheelHandler">
    @for (int i = 0; i < 7; i++)
    {
        if (i == 6)
        {
            <div class="calendar-view-dayofweek last">@StartDate.AddDays(i).DayOfWeek</div>
        }
        else
        {
            <div class="calendar-view-dayofweek">@StartDate.AddDays(i).DayOfWeek</div>
        }
    }
    @foreach (DateTime date in CalendarHelpers.CalendarDaysInView(StartDate, EndDate))
    {
        <CalendarDayComponent Date="@date" StateChangedCallback="StateChanged"></CalendarDayComponent>
    }
</div>