@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="calendar-view-day @ClassNames">
    <heading>
        @Heading
    </heading>
    <div class="calendar-view-day-items">
        @if (CalendarState.Value.CalendarItemsLoaded)
        {
            @foreach (var item in CalendarState.Value.CalendarItems.GetCalendarItems(NodaTime.LocalDate.FromDateTime(Date.Date)))
            {
                <button class="btn btn-primary btn-sm calendar-item" @onclick="@(async () => await ShowEditItem(item.Id))">@item.Title</button>
            }
        }
    </div>
</div>
