@using System.Linq
@inherits CalendarComponentBase

<div class="calendar-view-day @ClassNames">
    <heading>
        @Heading
    </heading>
    <div class="calendar-view-day-items">
        @if (CalendarState.Value.CalendarItemsLoaded)
        {
            <CalendarItemListComponent Items="CalendarState.Value.CalendarItems.GetCalendarItems(NodaTime.LocalDate.FromDateTime(Date.Date))">
                <ItemFormat>
                    <button class="btn btn-primary btn-md calendar-item" style="@(LinearBackgroundGradient(context.TagIds))" @onclick="@(() => EditCalendarItem(context.Id))">@context.Title</button>
                </ItemFormat>
            </CalendarItemListComponent>
        }
    </div>
</div>

@code
{
    private string LinearBackgroundGradient(IEnumerable<Guid> tagids)
    {
        if (CalendarState.Value.TagsLoaded && tagids != null && tagids.Any())
        {
            var tags = CalendarState.Value.Tags.Where(n => tagids.Contains(n.Id)).ToList();
            int gradientWidth = 2;
            var gradientColors = Enumerable.Range(0, tags.Count()).Select(n => $"{tags[n].Color} {(n) * gradientWidth}% {(n + 1) * gradientWidth}%").ToList();
            gradientColors.Add($"#0d6efd {(tags.Count) * gradientWidth}% {(tags.Count + 1) * gradientWidth}%");
            return $"background: linear-gradient(45deg, {string.Join(",", gradientColors)});";
        }
        return string.Empty;
    }
}
