@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<heading>
    @Heading
</heading>
<div class="calendar-view-items" @onmousewheel="WheelHandler">
    @foreach (DateTime date in CalendarHelpers.CalendarDaysInView(StartDate, EndDate))
    {
        <CalendarDayComponent Date="@date"></CalendarDayComponent>
    }
</div>