html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    height: 100%; /* force the BODY element to match the height of the HTML element */
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow: hidden;*/
    z-index: -1; /* Remove this line if it's not going to be a background! */
}

.calendar-view {
    height: 100%;
    /*padding-top: 40px;*/
    padding-bottom: 40px;
}

    .calendar-view .calendar-view-heading {
        height: 20px;
        background-color: #343a40;
        color: #FFF;
    }

        .calendar-view .calendar-view-heading h3 {
            padding: 0px;
            font-size: 14px;
        }

    .calendar-view .calendar-view-daysofweek {
        height: 30px;
        text-align: center;
    }

    .calendar-view .calendar-view-items {
        height: 100vh;
        position: absolute;
        top: 0;
        padding-top: 30px;
    }

.calendar-view-day {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.calendar-view .calendar-view-day {
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.calendar-view-month .calendar-view-day {
    float: left;
    width: 14.3%;
    height: 20%;
    overflow: hidden;
    position: relative;
}

.calendar-view-week .calendar-view-day {
    float: left;
    width: 14.3%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.calendar-view-month .calendar-view-day.last {
    width: 14.2%;
}

.calendar-view-week .calendar-view-day.last {
    width: 14.2%;
}

.calendar-view-day heading {
    padding: 10px;
    font-weight: bold;
    background-color: #212529;
    color: #FFF;
    font-size: 1vh;
    display: block;
    height: 40px;
}

.calendar-view-day.today heading {
    background-color: #4800ff;
}

div .calendar-view-day-items {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding: 10px;
    background-color: #343a40;
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}

    div .calendar-view-day-items::-webkit-scrollbar {
        display: none;
    }

div .calendar-view-dayofweek {
    float: left;
    width: 14.3%;
    position: relative;
    padding: 5px;
}

    div .calendar-view-dayofweek.last {
        width: 14.2%;
    }


.calendar-view-day .calendar-view-day-items .calendar-item {
    font-size: .7em;
    border-radius: 5px;
    padding: 2px;
    width: 50%;
    margin-bottom: 2px;
}

.calendar-view-week .calendar-view-day-items .calendar-item {
    font-size: .7em;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    margin-bottom: 2px;
}

.calendar-view-month .calendar-view-day-items .calendar-item {
    font-size: .7em;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    margin-bottom: 2px;
}

.calendar-view-day > .lds-hourglass {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
}

    .calendar-view-day > .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 16px solid #fff;
        border-color: #000 transparent #000 transparent;
        animation: lds-hourglass 1.2s infinite;
    }

.note-view {
    width: 75%;
    float: left;
}

    .note-view .card {
        margin: 5px;
    }

    .note-view .card-text {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
    }

        .note-view .card-text p {
            margin-bottom: 0px;
        }

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}


.card-fill {
    height: 100%;
}

    .card-fill .card {
        height: 100%;
    }

    .card-fill .card-body {
        height: 100%;
    }

    .card-fill .card-text {
        height: 100%;
    }

.calendar-day {
    height: 20%;
    width: calc(100% / 7);
    float: left;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
    text-align: right;
}

[data-day="Monday"] {
    background-color: rgba(0,0,0, 0.10);
}

[data-day="Tuesday"] {
    background-color: rgba(0,0,0, 0.10);
}

[data-day="Wednesday"] {
    background-color: rgba(0,0,0, 0.10);
}

[data-day="Thursday"] {
    background-color: rgba(0,0,0, 0.10);
}

[data-day="Friday"] {
    background-color: rgba(0,0,0, 0.10);
}

[data-day="Saturday"] {
    background-color: rgba(0,0,0, 0.20);
}

[data-day="Sunday"] {
    background-color: rgba(0,0,0, 0.20);
}