@page "/calendaritem/{id}"

@if (CalendarItem != null)
{
    <div>
        <div class="form-group">
            <label for="calendar-item-tags">Tags</label>
            <Tomi.Calendar.Mono.Client.Components.Tag.TagSelector @ref="TagSelector" SelectedKeys="@CalendarItemTagKeys" />
        </div>
        <div class="form-group">
            <label for="calendar-item-startdate">Start Date</label>
            <input class="form-control" type="date" id="calendar-item-startdate" @bind="CalendarItem.StartDate" />
        </div>
        <div class="form-group">
            <label for="calendar-item-enddate">End Date</label>
            <input class="form-control" type="date" id="calendar-item-enddate" @bind="CalendarItem.EndDate" />
        </div>
        <div class="form-group">
            <label for="calendar-item-title">Title</label>
            <input class="form-control" type="text" id="calendar-item-title" @bind="CalendarItem.Title" />
        </div>
        <button class="btn btn-primary" @onclick="SaveItem">Ok</button>
        <button class="btn btn-danger" @onclick="DeleteItem">Delete</button>
        <button class="btn btn-secondary" @onclick="ModalInstance.CancelAsync">Cancel</button>
    </div>
}
