@page "/day/{date}"
@page "/today"
@inherits CalendarDayViewBase

<div class="calendar-view-day @ClassNames">
    <heading>
        @Heading
    </heading>
    <div class="calendar-view-day-items">
        @foreach (var item in CalendarState.CalendarItems.GetCalendarItems(Date.Date))
        {
            <button class="btn btn-primary btn-sm calendar-item" @onclick="@(async() => await ShowEditItem(item.Id))">@item.Title</button>
        }
    </div>
</div>
