@page "/week/{date}"
@inherits CalendarWeekViewBase

<div class="calendar-view">
    <div class="calendar-view-heading">
        <h3>@Heading</h3>
    </div>
    <div class="calendar-view-items" @onmousewheel="WheelHandler">
        @foreach (DateTime date in CalendarHelpers.CalendarDaysInView(StartDate, EndDate))
        {
            <CalendarDayView Date="@date" StateChangedCallback="StateChanged"></CalendarDayView>
        }
    </div>
</div>