@page "/day/{date}"
@page "/today"

<div class="calendar-view">
    <CalendarDayComponent Date="Date" />
</div>


@code
{

    [Parameter]
    public DateTime Date { get; set; } = DateTime.Today;

    [Parameter]
    public Guid CalendarItemId { get; set; }

    protected override Task OnParametersSetAsync()
    {
        if(Date == DateTime.MinValue)
        {
            Date = DateTime.Today;
        }
        Console.WriteLine(Date.ToString());
        return base.OnParametersSetAsync();
    }
}