@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4" style="height: 100%; padding-top: 77px; margin-top: -56px; background-color: #171819; color: #FFFFFF;">
            @Body
        </div>
    </div>
</div>
