@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IModalService ModalService
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="nav-item" href="/">Home</a>
        <AuthorizeView>
            <Authorized>
                <a class="nav-item" href="authentication/profile">Hello, @context.User.Identity.Name!</a>                
                <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
            </Authorized>
            <NotAuthorized>
                <a class="nav-item" href="authentication/register">Register</a>
                <a class="nav-item" href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
