@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IModalService ModalService
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <AuthorizeView>
        <Authorized> 
            <li class="nav-item">
                <a class="nav-link" href="authentication/profile">Hello, @context.User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick="BeginSignOut">Log out</a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link" href="authentication/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="authentication/login">Log in</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
