@inject IModalService ModalService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FooBar Calendar</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/month">
                <span class="oi bi-calendar3" aria-hidden="true"></span> Month
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/week">
                <span class="oi bi-calendar2-week" aria-hidden="true"></span> Week
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/today">
                <span class="oi bi-calendar2-date" aria-hidden="true"></span> Today
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(async() => await AddNewCalendarItem())">
                <span class="oi bi-calendar2-plus" aria-hidden="true"></span> Add New Item
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/notes">
                <span class="oi bi-journal" aria-hidden="true"></span> Notes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(async() => await AddNewNote())">
                <span class="oi bi-journal-plus" aria-hidden="true"></span> Add New Note
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tags">
                <span class="oi bi-tags" aria-hidden="true"></span> Tags
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(async() => await AddNewTag())">
                <span class="oi bi-journal-plus" aria-hidden="true"></span> Add New Note
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async Task AddNewCalendarItem()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(CalendarItemEditComponent.Id), Guid.Empty);

        var modal = ModalService.Show<CalendarItemEditComponent>("Add Calendar Item", parameters);
        var result = await modal.Result;

        StateHasChanged();
    }

    protected async Task AddNewNote()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(NoteCardEditView.Id), Guid.Empty);
        var modal = ModalService.Show<NoteCardEditView>("Add Note", parameters);
        var result = await modal.Result;

        StateHasChanged();
    }

    protected async Task AddNewTag()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(TagEditView.Id), Guid.Empty);
        var modal = ModalService.Show<TagEditView>("Add Tag", parameters);
        var result = await modal.Result;

        StateHasChanged();
    }
}
