@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (CalendarState.Value.IsLoading)
{
    <div class="d-flex flex-column align-items-center">
        Loading ...
    </div>
}
else
{
    <EditForm Model="validationModel" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <div class="d-flex flex-column align-items-center">
            <ValidationSummary />
        </div>
        <div>
            <div class="form-group">
                <label for="tag-name">Title</label>
                <input class="form-control" type="text" id="tag-name" @bind="validationModel.Name" />
            </div>
            <div class="form-group">
                <label for="tag-description">Description</label>
                <input class="form-control" type="text" id="tag-description" @bind="validationModel.Description" />
            </div>
            <button class="btn btn-primary" type="submit">Ok</button>
            <button class="btn btn-danger" @onclick="DeleteItem">Delete</button>
            <button class="btn btn-secondary" @onclick="ModalInstance.CancelAsync">Cancel</button>
        </div>
    </EditForm>
}
