@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>TagList</h3>

<ol>
    @if (CalendarState.Value.Tags != null)
    {
        @foreach (var tag in CalendarState.Value.Tags)
        {
            <li @onclick="@(async () => await ShowEditItem(tag.Id))">@tag.Name - @tag.Description</li>
        }
    }
</ol>