@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@foreach (TagDto tag in CalendarState.Value.Tags)
{
    if (SelectedValues.Contains(tag.Id))
    {
        <span class="badge bg-success" @onclick="@(() => OnClick(tag.Id))">@tag.Name</span>
    }
    else
    {
        <span class="badge bg-primary" @onclick="@(() => OnClick(tag.Id))">@tag.Name</span>
    }
}

@code {

    void OnClick(Guid key)
    {
        if (SelectedValues.Contains(key))
        {
            SelectedValues.Remove(key);
        }
        else
        {
            SelectedValues.Add(key);
        }
        Console.WriteLine(string.Join(",", SelectedValues.Select(n => $"{n}")));
    }
}
